* {
	box-sizing:  border-box;
	margin: 0;
}
body, html {
	font-family: arial;
	height: 60%;
}
header {
	Background-image: url("background.png") ;
	height: 255px;
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
section {
	background: white;
	height: 500px;
	padding-top: 30px;
	padding-left: 100px;
	padding-right: 100px;
	padding-bottom: 30px;
}

footer {
	background-color: lightgray;
	padding: 30px;
}

h1 {
	text-align: left;
}

p {
	text-align: left;
}

nav {
	background-color: lightblue;
}

li {
  float: left;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: lightgray;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: white;
}
.signup {
	text-align:center;
 		width:100%;
}
.target {

width : 50px

margin : 0 auto;

}
.container {
  position: relative;
  width: 300px;
  height: 50px;
  text-align: center;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(158, 217, 234, 0.5);
}
.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 10%;
  left: 10%;
}